body {
    background-color: #dbdbdb;
    color: rgb(0, 0, 0);
    font-family: "DotGothic16", sans-serif;
    /*width: 100%;

    display: flex;*/
    flex-direction: column;  
    align-items: center;
}

h2,p,button{
    text-align: center;
  }

  h2 {
    color: #000000; /* 好きな色に変更 */
  }
  
  .date-group h3 {
    text-align: center;/*日付title中央*/
    font-family: "DotGothic16", sans-serif;
    color: rgb(20, 20, 20);
    margin-bottom: 10px;
    
  }
  

/* メニューボタン */
.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: #e4e4e4;
    border: 2px solid #e100ff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    z-index: 2000;
  }

  /* 左側の固定サイドバー */
.sidebar {
    position: fixed;
    top: 0;
    left: -160px;
    width: 160px;
    height: 100%;
    background-color: #f0f0f0;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease; /* ← スライドアニメーション */
    z-index: 1500;

  }
  
  /* サイドバーのリンク */
  .sidebar a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  
  .sidebar a[href*="pixiv"] {
    color: #cc111b;
    font-weight: bold;
  }

  .sidebar.open {
    left: 0;
  }


  .entry {
    background: rgba(255, 255, 255,0.85); /* うっすら白 */
    border: 1px solid #444;
    padding: 1.2em;
    margin: 0px 0;/*上下0px左右0*/
    border-radius: 6px;
    width: 600px;
    max-width: 800px;

    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
  
    /*日付まとめ*/
    margin-bottom: 20px;
    border-left: 3px solid #888;

    /*時刻が右下に小さくなるように*/
  position: relative;
  padding-bottom: 20px; /* 時刻が重ならないように余白 */
  }
  

  .entry p {
    line-height 22px; /* 行間 */

  }



  .entry p:first-child {
    line-height: 1.1;   /* 行間を詰める */
    margin-bottom: 2px; /* 下の余白を小さく */
    margin-top: 0;       /* 上の余白をゼロに */
  }
  

  #list{
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央寄せ */
  
  }

  /*時刻を右下*/
  .time {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    color: #888;
  }
  

  /*日付まとめ2*/
  .date-group {
    margin-bottom: 40px;

  }
  
  .date-group h3 {
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
  }
  

  
  /*管理用ページ用*/
  textarea#text {
    width: 75%;
    max-width: 800px;/*広すぎ防止*/
    height: 250px;
    padding: 15px;
    line-height: 1.6;/* 行間ゆったり */
    box-sizing: border-box;
    resize: vertical;/* 高さだけ手動で伸ばせる */
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  #text,#submit{
    margin-bottom: 20px;
  }