body {
    background-color: #000000;
    color: white;
}

h2,p,button{
  text-align: center;
}

/*タイトル画像用*/
img{
  display: block;
  margin: 0 auto;
}

.title-img {
  width: 50%;      /* 画面幅の50% */
  height: auto;    /* 縦横比を保つ */
  display: block;  /* 中央寄せのため */
  margin: 0 auto;  /* 中央に配置 */
}
/*タイトル画像用ここまで*/


  ul{
    list-style: none;
    padding-left: 0;
  }

  #Yoko-list{
    position:fixed;
    top: 0;
    left: -100px; /*隠す*/
    width: 100px;
    height: 100%;
    background: #555555;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
  }

/* メニューが開いた状態 */
#Yoko-list.open {
  left: 0;
}

/* ボタン */
#menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

/* 左側の透明クリックエリア */
#open-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;   /* ここを広げると押しやすくなる */
  height: 100%;
  z-index: 900;
}
